/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
* {
  font-family: SUSE, sans-serif;
}

.float-right {
  float: right;
}

.icon {
  height: 25px !important;
  width: 25px !important;
  margin: 5px;
}
